SNOWFLAKE_CONN_STR="Driver=/opt/snowflake/snowflakeodbc/lib/universal/libSnowflake.dylib;Server=BITSUQC-KRB95738.snowflakecomputing.com;Schema=DBUETTNER;Database=SANDBOX;uid=DAN.B@BUOYSOFTWARE.COM;authenticator=externalbrowser"
