SNOWFLAKE_CONN_STR="Driver=/opt/snowflake/snowflakeodbc/lib/universal/libSnowflake.dylib;Server=ABCDEFG-OOO12345.snowflakecomputing.com;Schema=SCHEMA;Database=DATABASE;uid=USER@EXAMPLE.COM;authenticator=externalbrowser"
